<div>
 
    <br>
    <h3>Alta de ONG</h3>
    <br>
    <p  ><mark class="col text-danger"><strong>Complete datos para alta</strong></mark></p>
    <br>
    <p>  id_Ong   : <input  [(ngModel)]="use.id_Ong">
    
     Provincia: <input type ="string" [(ngModel)] = "use.id_Prov"> 

     Nombre : <input type ="string" [(ngModel)] = "use.nombre"> 
    
     Direccion : <input type="string" [(ngModel)]="use.direccion">
    
     CP : <input type="string" [(ngModel)]="use.cp">

     Telefono : <input type="string" [(ngModel)]="use.telefono">

     Donación : <input type="string" [(ngModel)]="use.id_Don">
    
    
    </p>



    <p><button (click)="altaOngs(use)" class="btn btn-outline-success">Confirmar alta</button>
          
    </p>
     <br>
  
   

</div>

<p><mark class="col text-danger"><strong>Complete datos a modificar o presione borrar para quitar Ong </strong></mark></p>
  <br>
  
  
  <div>
  <tr *ngFor="let ong of us ">
 
      
  

   <p>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{ong.id_Ong}}&nbsp; &nbsp; &nbsp; &nbsp;  Nombre  *: <input type="string" [(ngModel)]="ong.nombre">
     
       Direccion: <input type="string" [(ngModel)]="ong.direccion">&nbsp;

      <button (click)="modifOngs(ong)" class="btn btn-outline-primary">Confirmar modificación</button> &nbsp;
        <button (click)="delOngs(ong)"  class="btn btn-outline-danger">Borrar Ong  </button></p>
     
        <br>
  

  </tr>

 

</div>