<div class="container d-flex justify-content-center text-center mt-5 d-grid gap-2 d-md-block">
    <div class="card justify-content-center text-center mt-5 d-grid gap-2 d-md-block">
        <div class="card-header">
            <h3>Ongs</h3>

      <! == Desplegables ==>
            
      <div class="row">
        <div class="class col">
            <div class="class form-group">
                <label for="provinciaElegida"><b>Provincia</b></label>
                <select class="form-control" name="provinciaElegida" id="provinciaElegida"
                [(ngModel)]="provinciaElegida" (change)="onChangeProvincia()">
                <option [ngValue]="null" selected>¿Donde queres donar?</option>
                <option [ngValue]="provincia" *ngFor="let provincia of provincias">{{ong.provincia}}</option>
                </select>
            </div>
        </div>
        <div class="class col">
            <div class="class form-group">
                <label for="donacionElegida"><b>Tipo de Donación</b></label>
                <select class="form-control" name="donacionElegida" id="donacionElegida"
                    [(ngModel)]="donacionElegida" (change)="onChangeDonacion()">
                    <option [ngValue]="null" selected>¿Que queres donar?</option>
                    <option [ngValue]="donacion" *ngFor="let donacion of donaciones">{{ong.donacion}}</option>
                </select>
            </div>
        </div>

    </div>

  <div class="card-body">
      <table class="table table-haver">
  <thead>
  <tr class="text-center">
      <th>id_Ong</th>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Código Postal</th>
      <th>Provincia</th>
      <th>Teléfono</th>
      <th>Donación</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ong of ongs" class="text-center">
  <td>{{ong.id_Ong}}</td>
  <td>{{ong.provincia}}</td>
  <td>{{ong.nombre}}</td>
  <td>{{ong.direccion}}</td>
  <td>{{ong.cp}}</td>
  <td>{{ong.telefono}}</td>
  <td>{{ong.donacion}}</td>
  </tr>
  </tbody>
  </table>
  </div>
  </div> 
  </div>