<div class="container d-flex justify-content-center text-center mt-5 d-grid gap-2 d-md-block">

  
    <div class="card justify-content-center text-center mt-5 d-grid gap-2 d-md-block">
  <div class="card-header">
      <h3>Ongs</h3>

      <! == Desplegables ==>
<section class="container-fluid d-flex justify-content-center" id="desplegables">
   <!--  <select class="custom-select-fluid mx-middle"  >
        <option selected>¿Que querés donar?</option>
        <option value="Ind">Indumentaria</option>
        <option value="Ali">Alimentos</option>
        <option value="Din">Dinero</option>
        <option value="HdT">Horas de trabajo comunitario</option>
        <option value="MaL">Materiales de Limpieza</option>
        <option value="MaC">Materiales de construcción</option>
    </select> -->

    <select class="form-select" id="desplegable">
        <option selected>Provincia</option>
        <option value="provincia.Salta" ngFor="let ong of ongs">Salta</option>
        <option value="provincia.BuenosAires">Buenos Aires</option>
        <option value="provincia.CABA">CABA</option>
        <option value="provincia.SantiagoDelEstero">Santiago del Estero</option>
        <option value="provincia.Chaco">Chaco</option>
        <option value="provincia.Catamarca">Catamarca</option>
        <option value="provincia.LaPampa">La Pampa</option>
        <option value="provincia.Mendoza">Mendoza</option>
        <option value="provincia.Formosa">Formosa</option>
        <option value="provincia.Neuquen">Neuquén</option>
        <option value="provincia.RioNegro">Rio Negro</option>
        <option value="provincia.SantaFe">Santa Fé</option>
        <option value="provincia.Tucuman">Tucuman</option>
        <option value="provincia.Chubut">Chubut</option>
        <option value="provincia.Cordoba">Cordoba</option>
        <option value="provincia.Jujuy">Jujuy</option> -->
    </select>
</section>


    </div>

  <div class="card-body">
      <table class="table table-haver">
  <thead>
  <tr class="text-center">
      <th>id_Ong</th>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Código Postal</th>
      <th>Provincia</th>
      <th>Teléfono</th>
      <th>Donación</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ongs of ongs"  class="text-center">
  <td>{{ongs.id_Ong}}</td>
  <td>{{ongs.provincia}}</td>
  <td>{{ongs.nombre}}</td>
  <td>{{ongs.direccion}}</td>
  <td>{{ongs.cp}}</td>
  <td>{{ongs.telefono}}</td>
  <td>{{ongs.donacion}}</td>
  </tr>
  </tbody>
  </table>
  </div>
  </div>
  </div>