
<app-navbar></app-navbar>

<section class="w-50 mx-auto text-center pt-5 pe-5" id="intro">
    <h1 class="p-3 fs-4 border-top border-3">
        Si llegaste a esta página, es porque te interesa saber un poco más sobre nuestra misión y, tal vez, estás pensando en cómo sumarte. Te contamos:
        <span class="text-secondary">Como participar</span>
    </h1>
    <p class="p-3 fs-4"><span class="text-secondary">ComunidadNodos</span> es una comunidad de diversas personas que trabajan en equipo para ayudar a quienes más lo necesitan.
        Somos voluntarios que representamos a distintas ONG que se dedican a la beneficencia en todo el país.
        Ayudamos, con tu colaboración y la nuestra, a aquellas personas y familias que se encuentran en situación de pobreza, exclusión y vulnerabilidad.
        Nuestro principal objetivo es brindar contención, asistencia, esperanza y herramientas concreta para que, por sus propios medios, sean capaces de transformar su realidad.
        Creemos en nuestros valores, los tuyo y en quienes ayudamos para que, juntos, podamos soñar y hacer un mundo mejor para todos.
    </p>
</section>



<section class="w-75 mx-auto text-center pt-5" id="equipo">
    <div class="p-3 mb-5 fs-4 border-top border-3">
        <h1>Equipo pequeño con grandes resultados.</h1>
        <p class="p-3 fs-4"><span class="text-secondary">ComunidadNodos</span> es amor en obras: nuestro servicio y nuestras acciones se inspiran en el amor al prójimo. Buscando la verdadera dignificación del hombre, <span class="text-secondary">ComunidadNodos</span> se centra en los momentos claves para llevar adelante su misión.
        </p>
    </div>
    <div class="mt-5 text-center mb-5">
        <img class="img-fluid" src="./assets/children.png" alt="equipo">
    </div>
</section>
