<! == Desplegables ==>
<section class="container-fluid d-flex justify-content-center" id="desplegables">
   <!--  <select class="custom-select-fluid mx-middle"  >
        <option selected>¿Que querés donar?</option>
        <option value="Ind">Indumentaria</option>
        <option value="Ali">Alimentos</option>
        <option value="Din">Dinero</option>
        <option value="HdT">Horas de trabajo comunitario</option>
        <option value="MaL">Materiales de Limpieza</option>
        <option value="MaC">Materiales de construcción</option>
    </select> -->

    <select class="custom-select-fluid fs-1" id="desplegable">
        <option selected>Provincia</option>
        <option value="a">Salta</option>
        <option value="b">Buenos Aires</option>
        <option value="c">CABA</option>
        <option value="g">Santiago del Estero</option>
        <option value="h">Chaco</option>
        <option value="k">Catamarca</option>
        <option value="l">La Pampa</option>
        <option value="m">Mendoza</option>
        <option value="p">Formosa</option>
        <option value="q">Neuquén</option>
        <option value="r">Rio Negro</option>
        <option value="s">Santa Fé</option>
        <option value="t">Tucuman</option>
        <option value="u">Chubut</option>
        <option value="x">Cordoba</option>
        <option value="y">Jujuy</option>
    </select>
</section>


