
<section class="table-fluid  w-75 mx-auto text-center  pt-3 pb-3 fluid mx-auto"  id="socialMedia">


    <table class="table-fluid table-center">
        <thead>
        <tr>
            <th scope="col-fluid"><img src="./assets/instagram.svg" alt="ig"> @Comunidad_Nodos</th>
            <th scope="col-fluid"><img src="./assets/twitter.svg"  alt="tw"> @Comunidad_Nodos</th>
            <th scope="col-fluid"><img src="./assets/facebook.svg" alt="fc">Comunidad_Nodos</th>
            <th scope="col-fluid"><img src="./assets/youtube.svg"  alt="yt"> @Comunidad_Nodos</th>
        </tr>
        </thead>
    </table>

</section>

